#history-btn {
    margin-left: 20em;
  }
  
  
  #content {
    display: flex;
    margin: 3em;
  }
  
  table {
    width: 100%;
    
  }

  table th {
    background-color: #f3c2bd;
    padding: 8px;
    text-align: left;
    margin-bottom: 0;
  }

  table td {
    padding: 8px;
    
  }

  table tr:nth-child(even){
    background-color: #f3c2bd;
  }

  table tr:nth-child(odd){
    /* background-color: chocolate; */
  }